-# Input:
-#   category

- toc = category.toc

= sanitize(toc.table_of_contents)
= link_to(theme_image_tag('edit.png'), edit_toc_path(toc, :slug => category.slug, :version => toc.version), :title => t('common.edit'))
