- search_keyword = (params[:controller] == 'contents' && params[:action] == 'search')? params[:search_keyword] : nil

= text_field_tag('search_keyword', search_keyword)

:javascript
  $(document).ready(function() {
    $('#search_keyword').keypress(function(e) {
      if (e.which != 13) {
        return;
      }

      var search_keyword = $('#search_keyword').val();
      search_keyword = jQuery.trim(search_keyword);
      if (search_keyword == '') {
        return;
      }

      var url = '#{root_path}search/' + encodeURIComponent(search_keyword);
      window.location = url;
    });
  });
