- options = {:controller => 'contents', :action => 'search', :search_keyword => params[:search_keyword]}
= render(:partial => 'contents/index_titles', :locals => {:contents => @results, :options => options})
