[submodule "vendor/rails"]
	path = vendor/rails
	url = git://github.com/rails/rails.git
[submodule "vendor/plugins/acts_as_configurable"]
	path = vendor/plugins/acts_as_configurable
	url = git://github.com/omghax/acts_as_configurable.git
[submodule "vendor/plugins/act_as_taggable_on_steroids"]
	path = vendor/plugins/act_as_taggable_on_steroids
	url = git://github.com/mattetti/acts_as_taggable_on_steroids.git
[submodule "vendor/plugins/acts_as_tree"]
	path = vendor/plugins/acts_as_tree
	url = git://github.com/rails/acts_as_tree.git
[submodule "vendor/plugins/acts_as_versioned"]
	path = vendor/plugins/acts_as_versioned
	url = git://github.com/ngocdaothanh/acts_as_versioned.git
[submodule "vendor/plugins/jrails"]
	path = vendor/plugins/jrails
	url = git://github.com/aaronchi/jrails.git
[submodule "vendor/plugins/thinking-sphinx"]
	path = vendor/plugins/thinking-sphinx
	url = git://github.com/freelancing-god/thinking-sphinx.git
