- # Inputs:
- #   content

- event = content

%h2= link_to(event.title, event_path(event))
= html_content_header(event)

.event_introduction= sanitize(event.introduction)

= html_comment_last(event)
