- # Renders a text area to let users to input comments.
- # Input:
- #   object

- if mod[:me].nil?
  %p.notice= user_link_to_login(t('comment.need_login'))
- else
  %form#comment_form{:action => comments_path, :onsubmit => captcha('OpenKH.comment.submit', :function)}
    %input{:id => 'comment_method', :type => 'hidden', :name => '_method', :value => 'post'}
    %input{:id => 'comment_model_type', :type => 'hidden', :name => 'comment[model_type]', :value => object.class.to_s}
    %input{:id => 'comment_model_id', :type => 'hidden', :name => 'comment[model_id]', :value => object.id}
    ~ text_area_tag(nil, '', {:id => 'comment_body', :name => 'comment[body]', :rows => '20'})

    %p#comment_buttons
      = submit_tag(t('common.save'))
      = link_to(t('common.cancel'), '#', :id => 'comment_cancel', :style => 'display: none', :onclick => 'return OpenKH.comment.cancelEdit()')
    %p#comment_busy{:style => 'display: none'}
      = image_tag('loading.gif')
