-# Inputs:
-#   categorizings: collection from will_paginate find
-#   options: params for will_paginate

#titles
  %ul
    - categorizings.each do |c|
      - n              = c.model
      - icon_if_recent = content_recent?(n) ? (' ' + theme_image_tag('new.png')) : ''
      %li= link_to(n.title + icon_if_recent, content_show_path(n))

  %p.pager= will_paginate(categorizings, :params => options, :onclick => "return OpenKH.showPage('titles', this.href)")
