- form_for(@toc, :html => {:onsubmit => 'tinyMCE.triggerSave(); return captcha.show(this);'}) do |f|
  = f.error_messages

  = f.hidden_field(:category_id)

  = f.label(:body)
  ~ f.text_area(:body, :rows => '30')

  = f.submit(t('common.save'))
