- unless SiteConf.instance.google_analytics_key.blank?
  %script{:type => 'text/javascript'}
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));

  %script{:type => 'text/javascript'}
    == var pageTracker = _gat._getTracker("#{SiteConf.instance.google_analytics_key}");
    pageTracker._initData();
    pageTracker._trackPageview();
